<h1>Commodities#show</h1>
<p>Find me in app/views/commodities/show.html.erb</p>

<%= @price.inspect %>

<h3>Prices for <%= @commodity.name %></h3>
    <p>price_quality = good </p>
    <p>Price Type = government </p>
        
    <p>Farm gate high (<%= @commodity.farm_gate_unit %>) = 121</p>  
    <p>Farm gate low (<%= @commodity.farm_gate_unit %>) = 101</p>     
    <p>Delivered high (<%= @commodity.delivered_unit %>) = 91</p>   
    <p>Delivered low (<%= @commodity.delivered_unit %>) = 71</p>
    <p>Wholesale high (<%= @commodity.wholesale_unit %>) = 141</p>   
    <p>Wholesale low (<%= @commodity.wholesale_unit %>) = 131</p>
    <p>Retail high (<%= @commodity.retail_unit %>) = 191</p>   
    <p>Retail low (<%= @commodity.retail_unit %>) = 171</p>
  	<p>Date: "01/01/1990"</p>
  	
  	    <p>Farm gate high (<%= @commodity.farm_gate_unit %>) = 122</p>  
    <p>Farm gate low (<%= @commodity.farm_gate_unit %>) = 102</p>     
    <p>Delivered high (<%= @commodity.delivered_unit %>) = 92</p>   
    <p>Delivered low (<%= @commodity.delivered_unit %>) = 72</p>
    <p>Wholesale high (<%= @commodity.wholesale_unit %>) = 142</p>   
    <p>Wholesale low (<%= @commodity.wholesale_unit %>) = 132</p>
    <p>Retail high (<%= @commodity.retail_unit %>) = 192</p>   
    <p>Retail low (<%= @commodity.retail_unit %>) = 172</p>
  	<p>Date: "01/02/1990"</p>