<%= form_for (@price)  do |f| %>
  <div class="field">
    <%= f.label :commodity %><br />
    <%= f.text_field :commodity %>
    <%= select_tag(:commodity, '<option value=1>Corn</option>') %>
    <select name="Commodity">
  <option value="corn">corn</option>
</select>
  </div>
  <div class="field">
    <%= f.label :quality %><br />
    <%= f.text_field :quality %>
</select>
  </div>
  <div class="field">
    <%= f.label :price_type %><br />
    <%= f.text_field :price_type %>
    <select name="Price Type">
  <option value="government">government</option>
</select>
  </div>
  <div class="field">
    <%= f.label :farm_gate_unit %><br />
    <%= f.text_field :farm_gate_unit %>
    <select name="Farm Gate Unit">
  <option value="crate">crate</option>
</select>
  </div>
  <div class="field">
    <%= f.label :farm_gate_high %><br />
    <%= f.text_field :farm_gate_high %>
  </div>
  <div class="field">
    <%= f.label :farm_gate_low %><br />
    <%= f.text_field :farm_gate_low %>
  </div>
  <div class="field">
    <%= f.label :delivered_unit %><br />
    <%= f.text_field :delivered_unit %>
    <<select name="delivered_unit">
  <option value="bushel">bushel</option>
</select>
  </div>
  <div class="field">
    <%= f.label :delivered_high %><br />
    <%= f.text_field :delivered_high %>
  </div>
  <div class="field">
    <%= f.label :delivered_low %><br />
    <%= f.text_field :delivered_low %>
  </div>
  <div class="field">
    <%= f.label :wholesale_unit %><br />
    <%= f.text_field :wholesale_unit %>
    <select name="Wholesale unit">
  <option value="ton">ton</option>
</select>
  </div>
  <div class="field">
    <%= f.label :wholesale_high %><br />
    <%= f.text_field :wholesale_high %>
  </div>
  <div class="field">
    <%= f.label :wholesale_low %><br />
    <%= f.text_field :wholesale_low %>
  </div>
  <div class="field">
    <%= f.label :retail_unit %><br />
    <%= f.text_field :retail_unit %>
    <select name="Retail Unit">
  <option value="gallon">gallon</option>
</select>
  </div>
    <div class="field">
    <%= f.label :retail_high %><br />
    <%= f.text_field :retail_high %>
  </div>
 <div class="field">
    <%= f.label :retail_low %><br />
    <%= f.text_field :retail_low %>
      <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
 <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>